################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotnetWebAPIWithOpenTelemetry/obj
/DotnetWebAPIWithOpenTelemetry/bin
/.vs/
